extends ../base.pug

block scripts
    script(src='../../static/my.js')
block style
    style
        include ../../static/style.css
        include ../../static/contentCSSfiles/portfolio1.css

block content
    #Maincontainer7
        #contentConatiner7
            #Cont7one.cont 
                h2#title7 
                    | Responsive Portfolio Website (Landing Page)
            #Cont7two.cont 
                img(src="../../static/files/portfolio-1.JPG", alt="image")
            #Cont7three.cont 
                | Hello Developers, In this blog you will learn to create highly responsive personal portfolio landing webpage using HTML, CSS and JavaScript.
                | Below i have provided the source code of this or you can also watch the video tutorial.
                br
                | Image Source: 
                a(href="https://unsplash.com/@chrisjoelcampbell?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank") Photo By         
            br
            br
            br    
            #Cont7four.cont 
                h1#watchHead7 Watch Tutorial
                iframe(width="100%" height="100%" src="https://www.youtube.com/embed/MgdqLG6Lr2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
            br
            br
            br    
            #Cont7five.cont 
                #sourceCodePara7
                    | To achieve this responsive webpage firstly you need to create four files 1- HTML file(index.html) 2- CSS file(style.css) 3- CSS file(phone.css) 4- CSS file(tablet.css), Now copy and paste the following code in these files respectively also don't forget to paste the JavaScript code inside HTML file at the bottom and inside of body tag.
                br
                br    
                h1#codeHead7html HTML Code
                pre 
                    code#codeBlockHtml7(class="language-html") 
                        | &lt;!DOCTYPE html>
                        | &lt;html lang="en">
                        | &lt;head>
                        |     &lt;meta charset="UTF-8">
                        |     &lt;meta http-equiv="X-UA-Compatible" content="IE=edge">
                        |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
                        |     &lt;title>Portfolio Landing Page&lt;/title>
                        |     &lt;link rel="stylesheet" href="style.css">
                        |     &lt;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.| css">
                        |     &lt;link rel="stylesheet" media="screen and (max-device-width: 608px)" href="tablet.css">
                        |     &lt;link rel="stylesheet" media="screen and (max-device-width: 377px)" href="phone.css">
                        | &lt;/head>
                        | &lt;body>
                        |     &lt;div id="container">
                        |         &lt;!--      creating navigation menu        -->
                        |         &lt;div class="navbar">
                        |             &lt;div id="nav">
                        |                 &lt;ul class="links">
                        |                     &lt;li>&lt;a href="" class="nvg">HOME&lt;/a>&lt;/li>
                        |                     &lt;li>&lt;a href="">ABOUT&lt;/a>&lt;/li>
                        |                     &lt;li>&lt;a href="">WORK&lt;/a>&lt;/li>
                        |                     &lt;li>&lt;a href="">SKILL&lt;/a>&lt;/li>
                        |                     &lt;li>&lt;a href="">CONTACT&lt;/a>&lt;/li>
                        |                 &lt;/ul>
                        |             &lt;/div>
                        |         &lt;/div>
                        |         &lt;!-- creating hamburger icon         -->
                        |         &lt;div class="burger">
                        |             &lt;div class="line1">&lt;/div>
                        |             &lt;div class="line2">&lt;/div>
                        |             &lt;div class="line3">&lt;/div>
                        |         &lt;/div>
                        |         &lt;!-- creating vertical line of cyan color for social media icons     -->
                        |         &lt;div id="vl">&lt;/div>
                        |         &lt;!-- adding social media icons     -->
                        |         &lt;div id="follow">
                        |             &lt;i class="fa fa-linkedin" aria-hidden="true">&lt;/i>&lt;br>
                        |             &lt;i class="fa fa-facebook-official" aria-hidden="true">&lt;/i>&lt;br>
                        |             &lt;i class="fa fa-twitter" aria-hidden="true">&lt;/i>
                        |         &lt;/div>
                        |         &lt;!-- this box contain some information    -->
                        |         &lt;div id="box1">
                        |             &lt;div id="hello"> Hello World,&lt;/div>
                        |             &lt;div id="me">I'am &lt;span id="rks">Rajeev Kr. Singh&lt;/span>&lt;/div>
                        |             &lt;div id="webdev">Full-Stack Web Developer&lt;/div>
                        |             &lt;div id="para1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique eaque aliquid | doloribus
                        |                 assumenda exercitationem, vero sapiente placeat beatae saepe repellendus. Accusantium cum rerum | cumque.
                        |             &lt;/div>
                        |         &lt;/div>
                        |         &lt;!-- creating button     -->
                        |         &lt;button id="btncontact" type="button">Contact&lt;/button>
                        |         &lt;button id="btnknow" type="button">Know more&lt;/button>
                        |         &lt;!-- Adding profile image in background -->
                        |         &lt;div id="pic">
                        |             &lt;img src="pic2.jpg" alt="">
                        |         &lt;/div>
                        |     &lt;/div>
                        | &lt;/body>
                        | &lt;/html>    
            br 
            br
            br                       
            #Cont7six.cont
                h1#codeHead7css CSS Code (Part-1, style.css)
                pre
                    code(class="language-css")
                        |     /*           Importing Some Google Font links             */
                        |  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
                        |  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
                        |  @import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Righteous&display=swap');
                        |  *{
                        |      margin: 0;
                        |      padding: 0;
                        |      box-sizing: border-box;
                        |  }
                        |  body{
                        |      background-color: black;   
                        |  }
                        |  #container{
                        |      position: absolute;
                        |      width: 100%;
                        |      height: 100vh;
                        |  }
                        |  /* Styling navigation menu    */
                        |  .navbar{
                        |      position: absolute;
                        |      display: flex;
                        |      width: 100%;
                        |      height: 45px;
                        |      justify-content: center;   
                        |  }
                        |  #nav{
                        |      position: absolute;
                        |      top: 6px;
                        |  }
                        |  #nav ul{
                        |      display: flex;
                        |      width: 100%;
                        |  }
                        |  #nav ul li{
                        |      position: relative;
                        |      list-style: none;
                        |      margin-top: 7px;
                        |      margin-inline: 12px;
                        |      font-size: 15px;
                        |      font-family: 'Lato', sans-serif;
                        |      width: 100%;
                        |  }
                        |  #nav ul li a{
                        |      text-decoration: none;
                        |      letter-spacing: 0.5px;
                        |      color: #a0a0a0;    
                        |  }
                        |      /* animation of side bar navigation menu links      */
                        |  @keyframes navlinkfade{
                        |      from{
                        |          opacity: 0;
                        |          transform: translateX(-200px);
                        |      }
                        |      to{
                        |          opacity: 1;
                        |          transform: translateX(0px);
                        |      }
                        |  }
                        |      /* creating animated cyan color underline on navigation links    */
                        |  #nav ul li a:after{
                        |      content: "";
                        |      position: absolute;
                        |      background-color: cyan;
                        |      height: 0.5px;
                        |      width: 0;
                        |      left: 0;
                        |      top: 20px;
                        |      transition: 0.3s;
                        |      z-index: 4;
                        |  }
                        |  #nav ul li a:hover{
                        |      color: white;
                        |  }
                        |  #nav ul li a:hover:after{
                        |      width:100%;
                        |  }
                        |  .nvg{
                        |      color: white!important;
                        |  }
                        |  .nvg:after{
                        |      content: ""!important;
                        |      position: absolute!important;
                        |      background-color: cyan!important;
                        |      height: 0.5px!important;
                        |      width: 100%!important;
                        |      left: 0!important;
                        |      top: 20px!important;
                        |  }
                        |  #box1{
                        |      position: absolute;
                        |      top: 250px;
                        |      left: 45px;
                        |      color: white;
                        |      z-index: 4;
                        |  }
                        |      /* Social media icons styling   */
                        |  #vl {
                        |      position: absolute;
                        |      top: 2px;
                        |      z-index: 4;
                        |      right: 31px;
                        |      width: 1px;
                        |      height: 144px;
                        |      background-color: cyan; 
                        |  }
                        |  #follow{
                        |      position:absolute;
                        |      top: 162px;
                        |      right: 13px;
                        |      z-index: 4; 
                        |  }
                        |  #follow i{
                        |      font-size: 33px;
                        |      color: white;
                        |      margin-bottom: 22px;
                        |      cursor: pointer;
                        |  }
                        |  #follow i:hover{
                        |      color: tomato;
                        |  }
                        |  /* Information box  */
                        |  #hello{
                        |      position: relative;
                        |      left: 3px;
                        |      font-size: 19px;
                        |      font-family: 'Lato', sans-serif;  
                        |  }
                        |  #me{
                        |      position: relative;
                        |      top: -5px;
                        |      left: 0;
                        |      font-size: 37px;
                        |      font-family: 'Lato', sans-serif;
                        |  }
                        |  #rks{
                        |      color: cyan;
                        |  }
                        |  #rks:hover{
                        |      color: tomato;
                        |  }
                        |  #webdev {
                        |      position: relative;
                        |      top: -15px;
                        |      color: #565656;
                        |      opacity: 0.4;
                        |      font-size: 70px;
                        |      font-weight: bolder;
                        |      font-stretch: ultra-expanded;
                        |      font-family: 'Righteous', cursive;  
                        |  }
                        |  #pic img {
                        |      position: absolute;
                        |      top: 86px;
                        |      right: 32px;
                        |      width: 594px;
                        |      height: 592px;
                        |  }
                        |  #para1{
                        |      position: absolute;
                        |      left: 3px;
                        |      top: 235px;
                        |      color: white;
                        |      width: 77%;
                        |      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        |  }
                        |  /* Button styling       */
                        |  #btncontact{
                        |      position: absolute;
                        |      top: 595px;
                        |      left: 52px;
                        |      width: 141px;
                        |      height: 43px;
                        |      margin: 4px;
                        |      border: 2px solid cyan;
                        |      color: black;
                        |      font-family: 'Righteous', cursive;
                        |      background-color: cyan;
                        |      cursor: pointer;
                        |      z-index: 4;
                        |  }
                        |  #btnknow{
                        |      position:absolute;
                        |      top: 595px;
                        |      left: 221px;
                        |      width: 141px;
                        |      height: 43px;
                        |      margin: 4px;
                        |      background: transparent;
                        |      border: 2px solid cyan;
                        |      color: white;
                        |      font-family: 'Righteous', cursive;
                        |      cursor: pointer;
                        |      z-index: 4;
                        |  }
                        |  #btncontact:hover{
                        |      background-color:black;
                        |      color: white;
                        |  }
                        |  #btnknow:hover{
                        |      background-color: tomato;
                        |      border: 2px solid tomato;
                        |  }
                        |      /* removing hamburger icon from big screen devices    */
                        |  .burger{
                        |      display: none;
                        |  }
            #Cont7seven.cont
                h1#codeHead7css CSS Code (Part-2, tablet.css)
                pre
                    code(class="language-css")
                    |#follow i{
                    |    font-size:18px ;
                    |    right: 12px;
                    |}
                    |#follow{
                    |    top: 155px;
                    |    right: 6px;
                    |}
                    |#vl{
                    |    right: 14px;
                    |} 
                    |.burger{
                    |    display: revert!important;
                    |    cursor: pointer;
                    |    position: absolute;
                    |    top: 12px;
                    |    left: 12px;
                    |    z-index: 5;
                    |}
                    |.burger div{
                    |    background-color: white;
                    |    width: 20px;
                    |    height: 3px;
                    |    margin: 4px;
                    |}
                    |#nav{
                    |    top: 150px;
                    |}
                    |#container{
                    |    overflow-x:hidden;
                    |}
                    |.navbar{
                    |    position: absolute;
                    |    top: 0px;
                    |    left: 0px;
                    |    width: 322px;
                    |    height: 100vh;
                    |    z-index: 5;
                    |    transform: translateX(-100%);
                    |    transition: transform 0.5s ease-in;
                    |}
                    |.navbaract{
                    |    position: absolute;
                    |    top: 0px;
                    |    right: 0px;
                    |    width: 322px;
                    |    height: 100vh;
                    |    z-index: 5;
                    |    transition: transform 0.5s ease-in;
                    |    transform: translateX(-0%);
                    |    background: rgba( 0, 0, 0, 0.25 );
                    |    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                    |    backdrop-filter: blur( 4px );
                    |    border-radius: 10px;
                    |    border: 1px solid rgba( 255, 255, 255, 0.18 );
                    |    animation: anime 2s linear ;
                    |}
                    |@keyframes anime {
                    |    0%{
                    |        border-top-right-radius: 50%;
                    |        border-bottom-right-radius: 50%;
                    |    }
                    |    100%{
                    |        border-top-left-radius: 10%;
                    |        border-bottom-left-radius: 10%;
                    |    }
                    |    
                    |}
                    |#nav ul{
                    |    display: flex;
                    |    flex-direction: column;
                    |    
                    |}
                    |#nav ul li{
                    |    height: unset;
                    |    width: unset;
                    |    align-self: center;
                    |    margin-bottom: 48px;
                    |}
                    |#nav ul li {
                    |    opacity: 1;
                    |}
                    |#nav ul li a:hover{
                    |    color: white;
                    |}
                    |#hello{
                    |    font-size: 15px;
                    |    left: 1px;
                    |}
                    |#me{
                    |    font-size: 23px;
                    |    top: -3px;
                    |}
                    |#webdev{
                    |    top: -8px;
                    |    font-size: 38px;
                    |}
                    |#para1 {
                    |    font-size: 10px;
                    |    width: 88%;
                    |    top: 170px;
                    |}
                    |#btncontact{
                    |    top: 505px;
                    |}
                    |#btnknow{
                    |    top: 505px;
                    |}
                    |#pic img{
                    |    right: -96px;
                    |    opacity: 0.5;
                    |}
            #Cont7eight.cont
                h1#codeHead7css CSS Code (Part-3, phone.css)
                pre
                    code(class="language-css")
                        | #btncontact {
                        |     top: 550px;
                        |     width: 108px;
                        |     height: 30px;
                        | }
                        | #btnknow{
                        |     top: 550px;
                        |     width: 108px;
                        |     height: 30px;
                        |     left: 178px;
                        | }
                        | #pic img{
                        |     right: -186px;
                        |     opacity: 0.5;
                        | }
          
            #Cont7nine.cont
                h1#codeHead7js JavaScript Code 
                pre
                    code(class="language-javascript")
                        | const slide = () => {
                        | const burger = document.querySelector('.burger');
                        | const nav = document.querySelector('.navbar');
                        | const navlinks = document.querySelectorAll('.links li');
                        | burger.addEventListener('click', () => {
                        |     nav.classList.toggle('navbaract');
                        |     navlinks.forEach((link, index) => {
                        |         if (link.style.animation) {
                        |             link.style.animation = '';
                        |         }
                        |         else {
                        |             link.style.animation = `navlinkfade 4s ease backwards ${index / 10}s`;
                        |         }
                        |     });
                        | });
                        | }
                        | slide();
                #finalcodepara7 
                    | That's all now you have succesfully created this amazing portfolio landing webpage.