#Maincontainer10 {
    position: relative;
    top: 70px;
    left: 0px;
    width: 100%;
    /* min-height: 6522px; */
    /* border: 5px solid red; */
    display: inline-block;
    background: linear-gradient(149deg, #030303, #262727);
    padding: 10px;
   
}

#contentConatiner10{
    position: relative;
    top: 0px;
    /* border: 3px solid green; */
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 8px solid #363636;
    border-radius: 16px;
    background-color: white;
}

.cont{
    /* border: 2px solid olive; */
    margin: 4px;
}
#title10 {
    font-size: 37px;
    font-family: 'Righteous', cursive;
}

#Cont10{
    color: olive;
}

#Cont10two img {
    margin-left: 12%;
    max-width: 75%;
    height: 339px;
    object-fit: cover;
    padding: 5px;
}

#Cont10three{
    font-family: 'Nunito', sans-serif;
    padding: 6px;
    font-size: 20px;
}
#codeHead10html{
    font-family: 'Righteous', cursive;
    
}
#codeHead10css{
    font-family: 'Righteous', cursive;
}
#codeHead10js{
    font-family: 'Righteous', cursive;
}



#Cont10four iframe{
    margin-left: 12%;
    max-width: 75%;
    height: 339px;
    object-fit: cover;
    padding: 5px;
   
}

#watchHead10{
    font-family: 'Righteous', cursive;
}


#codeBlockHtml10{
    width: 353px;
    /* height: 243px; */
}
#Cont10five{
    /* height: 580px; */
    object-fit: cover;
    padding: 5px;
    font-size: 14px;
   
}

#Cont10six{
    /* height: 580px; */
    object-fit: cover;
    padding: 5px;
    font-size: 14px;
}
#Cont10three span{
    font-weight:bold;
    color: green;
    
}

#sourceCodePara10{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
#finalcodepara10 {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

/* #footerHome{
    top: 6478px;
    width: 100%;
}


@media screen and (max-width: 881px){
    #footerHome {
        top: 6558px!important;
}
} */

/* @media="only screen and (max-device-width: 881px)"

} */